# =========================
# DATASETS
# =========================
data/*
!data/README.md

*.csv
*.zip
*.parquet
*.feather
*.h5
*.hdf5
*.npy
*.npz
*.pkl
*.joblib
*.pt
*.pth

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VENV / CONDA
# =========================
venv/
env/
.venv/
conda-env/
*.env

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# LOGS / CACHE
# =========================
*.log
.cache/
tmp/